:root {
    --border-radius: 0.3rem;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

h1 {
    font-weight: 700;
    margin: 0;
    line-height: 1.25;
}

h2 {
    font-weight: 700;
    margin: 0;
    line-height: 1.25; 
}

h3 {
    font-weight: 700;
    margin: 0;
    line-height: 1.25;
}

h4 {
    font-weight: 700;
    margin: 0;
    line-height: 1.25;
}

h5 {
    font-weight: 700;
    margin: 0;
    line-height: 1.25;
}

h6 {
    font-weight: 700;
    margin: 0;
    line-height: 1.25;
}

main {
    margin: 20px auto;
    width: 94%;
}

.btn {
    font: 1.3rem;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    transform: translate(-1px, -1px);
    color: white;
    background-color: lightskyblue;
    padding: 1%;
}

.btn:hover {
    color: black;
    background-color: lightblue;
    cursor: pointer;
}

.banner {
    padding: 1% 1%;
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, royalblue , darkblue);
}

.app-title {
    font-size: 3rem;
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
}

.list-group {
    padding: 0;
    list-style: none;
}

.card {
    margin: 0 0 20px 0;
    border-radius: var(--border-radius);
}

.form-label {
    display: block;
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}

.form-input {
    display: block;
}

.form-textarea {
  display: block;
}

.min-100-vh {
    min-height: 100vh;
}

.min-100-vw {
    min-width: 100vw;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-flex-start {
    justify-content: flex-start;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-stretch {
    align-items: stretch;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}